<h2>TaskHistories</h2>
<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Task Id</th>
        <th scope="col">User Id</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Due Date</th>
        <th scope="col">Completed</th>
        <th scope="col">Remarks</th>
      </tr>
    </thead>
    <tbody *ngFor="let taskHistory of taskHistories">
      <th scope="row">
        {{ taskHistory.taskId }}
      </th>
      <td>{{ taskHistory.userId }}</td>
      <td>{{ taskHistory.title }}</td>
      <td>{{ taskHistory.description }}</td>
      <td>{{ taskHistory.dueDate | date }}</td>
      <td>{{ taskHistory.remarks }}</td>
    </tbody>
  </table>
</div>
